USE [master]
GO
/****** Object:  Database [TourMate_Tour]    Script Date: 7/5/2025 1:57:54 PM ******/
CREATE DATABASE [TourMate_Tour]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_Tour', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Tour.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_Tour_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Tour_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_Tour].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_Tour]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 7/5/2025 1:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invoiceId] [int] IDENTITY(1,1) NOT NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NOT NULL,
	[tourGuideId] [int] NOT NULL,
	[peopleAmount] [nvarchar](255) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[price] [real] NOT NULL,
	[note] [nvarchar](max) NOT NULL,
	[customerId] [int] NOT NULL,
	[areaId] [int] NOT NULL,
	[tourDesc] [nvarchar](max) NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[customerPhone] [varchar](10) NOT NULL,
	[tourName] [nvarchar](255) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourService]    Script Date: 7/5/2025 1:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourService](
	[serviceId] [int] IDENTITY(1,1) NOT NULL,
	[serviceName] [nvarchar](255) NOT NULL,
	[price] [real] NOT NULL,
	[duration] [time](7) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[tourGuideId] [int] NOT NULL,
	[createdDate] [date] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[tourDesc] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
